@tailwind base;
@tailwind components;
@tailwind utilities;

div{
    font-family: 'Times New Roman', Times, serif;
}

.Home{
    background-image: url(./assets/Home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.Homepage{
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.Discover{
    background-image: url(./assets/Discover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.Footer_img{
    background-image: url(./assets/Footer_img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Commun{
    background-image: url(./assets/communityImg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.Support_img{
    background-image: url(./assets/Support.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
}